<div
  class="card-container"
  [style.border-left]="
    user
      ? user.hasUncompleteTodos
        ? '4px solid #ff3869'
        : '4px solid #00dda2'
      : '4px solid #1c1c1e'
  "
>
  <div
    class="card"
    [style.background-color]="idx % 2 === 0 ? 'white' : '#f5f5f5'"
  >
    <div class="button-bar">
      <button class="icon-button">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#323232"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
          />
        </svg>
      </button>
      <button class="icon-button">
        <svg
          height="20"
          width="20"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#323232"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M3 12l6.414 6.414a2 2 0 001.414.586H19a2 2 0 002-2V7a2 2 0 00-2-2h-8.172a2 2 0 00-1.414.586L3 12z"
          />
        </svg>
      </button>
    </div>
    <div class="card-description">
      <!-- <h2>{{ user?.name }}</h2>
      <p>{{ user?.email }}</p> -->
      <form [formGroup]="userFields" (ngSubmit)="updateUser()">
        <div style="display: flex">
          <div style="display: flex; flex-direction: column">
            <label for="name">Name: </label>
            <input id="name" type="text" formControlName="name" required />

            <label for="email">Email: </label>
            <input id="email" type="email" formControlName="email" required />
          </div>
          <div style="display: flex; flex-direction: column" *ngIf="expanded">
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street" />

            <label for="city">City : </label>

            <input id="city" type="text" formControlName="city" />

            <label for="zip">Zip Code: </label>
            <input id="zip" type="text" formControlName="zipcode" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
